header{
  display: flex;
  justify-content: space-between;
}
.end-game{
  display: none;
}

.game-running{
  display: none;
}

.choose-player{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.progress{
  width: 25rem;
}
@media screen and (max-width: 780px){
  .choose-player{
    flex-direction: column;
  }
}