header{
  display: flex;
  justify-content: space-between;
}
.end-game{
  display: none;
}

.game-running{
  display: none;
}

.choose-player{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}
.progress{
  width: 25rem;
}
.user-controls{
  margin-right: auto;
  margin-left: auto;
}
.user-controls button{
  width: 25%;
}
img{
  margin: auto auto;
  margin-top: 2rem;
  max-width: 30rem;
  max-height: 20rem;
}
@media screen and (max-width: 780px){
  .choose-player{
    flex-direction: column;
  }
  .user-controls button{
    width: 50%;
  }
}