header{
  display: flex;
  justify-content: space-between;
}
.end-game{
  display: none;
}

.choose-player{
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

@media screen and (max-width: 780px){
  .choose-player{
    flex-direction: column;
  }
}